.boat-container {
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    flex-wrap: wrap;
}

.boat-img {
    /* width: 250px; */
    height: 13rem;
    margin: 40px 2rem 0 2rem;
    /* border: 1px solid gray;
    box-shadow: 0px 0px 3px grey; */
}

.boat-header {
    font-size: 2rem;
}

.boat-info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 4rem;
}

.boat-details {
    margin: 0;
}

.map-container {
    margin: 40px;
    float: right;
    margin-left: auto;
    z-index: 1;
}

.map {
    width: 300px;
    height: 270px;
    border: 1px solid black;
}

#map-link {
    float: right;
    font-size: 0.6em;
}

.leaflet-container {
    height: 15rem;
    width: 15rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: auto;
}

.landing-table {
    border-collapse: collapse;
    width: 92.5%;
    margin: auto;
    margin-bottom: 1rem;
}

.offload-table.landing-table {
    margin-bottom: 1rem;
}

.landing-table .offload-row {
    height: 2.8rem;
}

.landing-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }

.landing-table tr:nth-child(odd){
    background-color: #f2f2f2;
}

/* .landing-table tr:hover {
    background-color: #ddd;
} */

.landing-table tr:nth-child(2){
    font-weight: 600;
    pointer-events: none;
    cursor: default;
}

.landing-table-header {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #2B59C3;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

.landing-table > div:nth-child(2) {
    pointer-events: none;
    cursor: default;
    color: black;
    font-weight: 600;
}

.controls-container {
    display: flex;
    margin: auto;
    width: 20rem;
    margin-bottom: 2rem;
}

.controls-container p {
    margin: 0;
    /* padding: 0 0.5rem 0 0.5rem; */
}

.show-more {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.controls-container button {
    background-color: transparent;
    border: none;
    border-radius: 7px;
    color: black;
    box-shadow: 0 0 2px gray;
    margin: 0 0.5rem 0 0.5rem;
    padding-bottom: 0.2rem;
}

.controls-container button:hover {
    background-color: #ececec;
}

.controls-container select {
    width: 4rem;
    box-shadow: 0 0 2px gray;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    padding: 0 0.6rem 0 0.6rem;
    margin-left: 0.8rem;
}


@media only screen and (max-width: 785px) {
    .leaflet-container {
        height: 13rem;
        width: 12rem;
    }

    .boat-info {
        font-size: 0.8rem;
    }
    .boat-header {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 700px) {
    .boat-container {
        align-items: center;
    }
    .boat-img {
        height: 9rem;
    }
}

@media only screen and (max-width: 650px) {
    .map-container {
        margin-left: 2rem;
        margin-right: 0;
    }

    .boat-container {
        justify-content: center;
    }

    .boat-info {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 400px) {
    .boat-img {
        margin-left: 0;
        margin-right: 1rem;
    }
}