
.f-header {
    /* border: solid gray 1px; */
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-basis: 100%;
    justify-content: space-between;
}

.f-header-title {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.f-container-title {
    width: 100%;
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 600;
    flex-basis: 100%;
    transition: 0.5s;
}

.f-container-title:hover {
    text-decoration: underline;
    text-decoration-color: #2B59C3;
}

/* .f-container{
    align-items: center;
    justify-content: center;
    flex-grow: 1;
} */

/* .f-container:first-child{
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    flex-grow: 1; 
} */

.f-headers {
    font-weight: 600;
    padding-left: 0.7rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    /* flex-basis: 25%;
    justify-content: center; */
  }

.f-headers:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #2B59C3;
}

.filter-all-filters{
  margin-top: 30px;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.filter-container {
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  flex-grow: 1;
  margin-top: 0.5rem;
}

.arrow-icon {
    float: right;
}

.filter-icon {
    margin-right: 0.5rem;
}

.check-item {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: baseline;
}

.filter-label:hover {
    text-decoration: underline;
    text-decoration-color: #2B59C3;
}

.checkbox {
    cursor: pointer;
}

.filter-label {
    cursor: pointer;
    display: block;
    max-width: 15rem;
}
/* .filter-container:first-child{
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  flex-grow: 1; 
} */

.date-container {
    /* flex-basis: 100%; */
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-right: 2rem;
}

.date-headers {
    font-weight: 600;
    margin-right: 1rem;
}

.react-datepicker-wrapper input {
    border-radius: 14px;
    padding-left: 8px;
    border: none;
    height: 2rem;
    font-size: 0.9rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(46,74,117,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(46,74,117,0.5);
    box-shadow: 0px 0px 5px 0px rgba(46,74,117,0.5);
}

.checkbox {
    margin-right: 0.5rem;
}

.react-datepicker__month--selected, .react-datepicker__month--in-selecting-range, .react-datepicker__month--in-range, .react-datepicker__quarter--selected, .react-datepicker__quarter--in-selecting-range, .react-datepicker__quarter--in-range {
    background-color: rgb(71, 110, 202) !important;
}

.filter-container {
    overflow-y: auto;
    /* height: 13.5rem;
    max-width: 15rem;
    flex-basis: 25%;
    margin-right: 1.59rem; */
    margin-bottom: 1rem;
}

.filter-dropdown {
    display: flex;
    flex-direction: column;
    height: 13.2rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(46,74,117,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(46,74,117,0.5);
    box-shadow: 0px 0px 5px 0px rgba(46,74,117,0.5);
    margin-left: 2rem;
    transition: 0.5s;
}

.filter-dropdown.closed {
    height: 2rem;
}

.dropdowns-container {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}

.dropdowns-container:last-child {
    margin-right: 2rem;
}

@media only screen and (max-width: 700px) {
    .dropdowns-container {
        flex-direction: column;
    }

    .filter-dropdown {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 420px) {
    .f-header {
        flex-direction: column;
        align-items: center;
    }

    .date-container {
        margin-top: 1rem;
        margin-right: 0;
    }

    .f-header-title {
        margin-left: 0;
    }
}